#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#header {
  position: relative;
  width: auto;
  height: auto;
  font-size: 74;
}

#section {
  position: relative;
  width: 100%;
  height: auto;

}